.post-header {
    font-size: small;
}

.post-card-container {
    text-align: center;
    margin-top: 10px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.post-input-container {
    text-align: center;
}